

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding:  12px 17px;
    border: 1px solid white;
}

li{
    float: left;
}

a:hover{
    background-color: rgb(185, 171, 150);
}
select{
    margin: 10px;
    float: left;
    border: 1px solid white;
}
